body {
    margin: 0;
}

header {
    background-color: #043873;
    padding: 20px 10px 20px 10px;
}

ul {
    margin: 0;
    padding-left: 0;
    display: flex;
    list-style: none;
}

li {
    color: white;
    font-family: DM Sans, sans-serif;
    margin-right: 60px;
}

.logo-name {
    color: white;
    font-family: DM Sans, sans-serif;
}

nav {
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    /* border: 1px solid red; */
    width: 50%;
}

#login-btn {
    background-color: #FFE492;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#try-free-btn {
    background-color: #4F9CF9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    color: white
}

#whitepace-logo {
    width: 191px;
    height: 34px;
}

.nav-links-li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-btn-id {
    margin-right: 15px;
}

.second-section {
    /* border: 1px solid white; */
    width: 70%;
    display: flex;
    justify-content: end;
}

.hero-section {
    background-color: #043873;
    height: 92vh;
    /* border: 3px solid green; */
    padding-top: 200px;
}

.hero-content {
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
}

.hero-bg {
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70%;
}

.hero-column-1 {
    width: 40%;
    display: flex;
    align-items: center;
}

.hero-column-2 {
    width: 60%;
    height: 824px;
    background-color: rgb(152, 210, 210);
}

.h1-hero-font {
    font-size: 80px;
    color: white;
    font-family: DM Sans, sans-serif;
}

.h4-hero-font {
    color: white;
    font-family: DM Sans, sans-serif;
    font-weight: 400;
}

.hero-col-1-div {
    margin-top: 50px;
}